In [1]:
from mapper.gemeinde_mapper import GemeindeMapper

In [2]:
mapper = GemeindeMapper()

Found 87 Gemeindestände since 01-01-1981! Latest: 01-01-2024

Updating Gemeindestände: 100%|██████████| 87/87 [00:13<00:00,  6.24it/s]

In [10]:
mapping = await mapper.create_multi_mapping('22-09-1985', ['01-01-2024'], return_names=True)

Creating the mapping. This might take some time...
Date 22-09-1985 does not correspond to official Gemeindestand, using closest: 01-01-1986.

In [15]:
mapping[mapping['bfs_gmde_nummer_01-01-1986'] == 253]

,bfs_gmde_nummer_01-01-1986,bfs_gmde_name_01-01-1986,bfs_gmde_nummer_01-01-2024,bfs_gmde_name_01-01-2024
281,253,Zürich,261,Zürich

In [9]:
mapping = await mapper.create_multi_mapping('01-01-2020', ('01-01-2021', '20-12-2022', '20-11-2024'), return_names=False)

Creating the mapping. This might take some time...

AssertionError:

In [ ]:
mapping = await mapper.create_multi_mapping('01-01-2022', ['20-11-2024'], return_names=F)

Creating the mapping. This might take some time...
Date 20-11-2024 does not correspond to official Gemeindestand, using closest: 01-01-2024.

In [8]:
mapping.columns

Index(['bfs_gmde_nummer_01-01-2020', 'bfs_gmde_nummer_01-01-2021',
       'bfs_gmde_nummer_18-04-2021', 'bfs_gmde_nummer_01-07-2021',
       'bfs_gmde_nummer_01-01-2022', 'bfs_gmde_nummer_10-04-2022',
       'bfs_gmde_nummer_01-05-2022', 'bfs_gmde_nummer_01-01-2023'],
      dtype='object')

In [5]:
mapping

      bfs_gmde_nummer_01-01-2022  bfs_gmde_nummer_01-01-2023
0                           4122                        4122
1                           6158                        6158
2                           3023                        3023
3                           6011                        6011
4                           2228                        2228
...                          ...                         ...
2143                        2275                        2275
2144                        4185                        4185
2145                        4324                        4324
2146                        5805                        5805
2147                        5892                        5892

[2148 rows x 2 columns]

In [5]:
mapping[mapping['bfs_gmde_nummer_01-01-2024'].isna()]

Empty DataFrame
Columns: [bfs_gmde_nummer_01-01-2022, bfs_gmde_nummer_01-01-2023, bfs_gmde_nummer_01-01-2024]
Index: []

In [6]:
mapping[mapping['bfs_gmde_nummer_01-01-2022'] == 21]

,bfs_gmde_nummer_01-01-2022,bfs_gmde_nummer_01-01-2023,bfs_gmde_nummer_01-01-2024
263,21,291,291